.btn.focus,
.btn:focus::before,
.btn:focus::after,
.btn:focus {
  outline: 0;
  border: none !important;
  box-shadow: none !important;
}
.btn-link.focus, .btn-link:focus {
  text-decoration: none !important;
}
.btn:hover{
  text-decoration: none !important;
}

.btn.collapse{
  border: none !important;
}
card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.4) !important;
}

.container {
  padding: 2rem 0rem;
}
 
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}
 
.form-title {
  margin: -2rem 0rem 2rem;
}
 
.btn-round {
  border-radius: 3rem;
}
 
.delimiter {
  padding: 1rem;
}